/* pattern+varie  */
#pattern{
    background-image: url(./immagini/pattern.png) ;
   background-color: #4EA0FF;
}
.title{
    height: 40%;
    width: 20%;
    
}
.link{
    color: rgb(24, 118, 248);
}
.tabella{
    background-color:  #B1E5F2;
    border-collapse: collapse;  
}
table{
    border-collapse: collapse;
    width: 100%;
}
